# Data folder
DATAs/
DATAs_CEDAR/
DATAs_OHTAKA/
Analysis/
entanglement/
logs/
mps/
observables/

# Dependency directories
__pycache__/

# text files
*.txt

# pkl files
*.pkl

# log files
log
*log

# test files
test_*

# Garbage
.DS_Store

#.sh
*.sh

dist*
